/*Style sheet created by: Kevin Powell*/

/*Style rule for body*/
body{
	background: -moz-linear-gradient(#FFFFFF, #81dfed); /*Firefox*/ 
	background: -o-linear-gradient(#FFFFFF, #81dfed); /*Opera*/
	background: -webkit-linear-gradient(#FFFFFF, #81dfed);/*Chrome / Safari */
	background: linear-gradient(#FFFFFF,#81dfed);
	background-attachment: fixed;
	width: 100%;
}

/*Styling fule for h1 fonts*/
h1 {
	font-family: Tahoma, Geneva, sans-serif;
}

/*Style for nav*/
nav {
	font-family: Georgia, Times New Roman, serif;
	font-size: 1.25;
	font-weight: bold;
	text-align: center;
	clear: both;
	margin-top: 1em;
}

/*Style for nav links*/
nav li{
	background-color: #ffffff;
	border-radius: 2em;
	list-style-type: none;
	margin: 1em;
	padding: 0;
}

/*Stle for nav li a tags*/
nav li a {
	color: 	#798386;
	text-decoration: none;
}

/*Style for container width, margin*/
#container {
	width: 100%;
	margin: 0 auto 0 auto;
}

/*Style for main elements*/
main {
	display: block;
	margin-top: 0.5em;
	padding: 1em;
	opacity: 0.65;
}

/*Style for main h2 style elements*/
main h2 {
	color: #000000;
	font-family: Futura, Calibri, sans-serif;
	clear: both;
	font-weight: bold;
}

/*Style for main h3 elements*/
main h3 { 
	color: #000000;
	font-family: Futura, Calibri, sans-serif;
	clear: both;
	font-weight: italic;
}

/* Style change for fonts in main p elements*/
main p {
	font-family: Calibri, Futura, sans-serif;
}

/*Style change for article li elements*/
article li {
	font-family: Calibri, Futura, sans-serif;
	color: #798386;
}

/*Style for footer elements*/
footer {
	font-size: .75em;
	text-align: center;
	margin-top: 2em;
	color:	#798386;
}

/*Style for footer a elements*/
footer a {
	text-decoration: none;
	color: #ffffff;
}

/*Style for caption element*/
caption {
	font-size: 1.5em;
	font-family: Futura, Calibri, sans-serif;
	color: #798386;
	padding: 1em;
	text-align: center;
}

/*Added a color change for link hover*/
#copyright a:hover {
	color: #000000;
}

/*disable desktop in mobile viewport*/
.desktop {
	display: none;
}


/*Style rule for input, select, and textarea form elements*/
input, select, textarea {
	display: block;
	margin-bottom: 1em;
}

/*Style rule for label element*/
label{
	display: block;
}

/*Style rule for unordered list within a form*/
form ul {
	list-style-type: none;
}


/*----------Media query for tablet viewport targets screen size witha minimum width of 800px----------*/
@media only screen and (min-width:725px) {
	
/*Style for nav in tablet viewport*/
nav {
	float: left;
	margin-top: -2em;
	margin-right: 3em;
	width: 100%
}

/*Style for nav li elements changes*/
nav li{
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right:1%;
	width: 18%;
	white-space: nowrap;
	border-radius: 0;
	background-color: transparent;
}

/*Style change in main tablet*/
main {
	clear: left;
	margin-top: -0.3em;
	border-radius: 0;
}

/*Style for figure elements*/
figure {
	text-align: center;
	background-color: #55717c;
	padding-top: 1em;
	padding-bottom:1em;
	
}

/*Style for id work element*/
#work {
	border: 0.1em solid #000000;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

/*Style for id school element*/
#school {
	border: 0.1em solid #798386;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

/*Style for article elements*/
article {
	background-color: #d1f2f0;
	float:left;
	margin: 0.5%;
	padding: 0.5%;
	text-align: center;
	width: 31%;
}

/*Style specifies border and padding for th and td elements*/
th, td {
	border: 0.1em solid #798386;
	padding: 1em;
}

/*Style for th element*/
th {
	background-color: #798386;
	color: #FFFFFF;
}

/*Disables mobile viewport*/
.mobile {
	display: none;
}

/*Enables desktop viewport*/
.desktop {
	display: block;
}

/*Style for background image element*/
.hero-image {
	background-image: url("banner.png");
	background-position: center;
	background-size: cover;
	position: realative;
	background-repeat: no-repeat;
	padding: 10em;
}

/*Style for background text element*/
.hero-text {
	text-align: left;
	color: #ffffff;
}

/*Style for footer element*/
footer {
	font-size: .75em;
	text-align: center;
	margin-top: 3%;
	color:	#798386;
	clear: both;
}

/*Style for footer a element*/
footer a {
	text-decoration: none;
	color: #ffffff;
}

/*-------------Media query for desktop viewport targets screens with a minimun width of 830px. ------------*/
@media only screen and (min-width: 1000px) {	

/*Style change for table element*/
table {
	width: 85%;
}

/*Style specifies vborder and padding for th and td elements*/
th, td {
	border: 0.1em solid #798386;
	padding: 1em;
}
/*Style for th element*/
th {
	background-color: #798386;
	color: #FFFFFF;
}

}